@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&display=swap');

*{
    margin: 0px;
    padding: 0px;
    border: 1px solid blue;
}

body {
    background:  linear-gradient( -130grad, #8F5D52  45%, #362729 45%);
    font-family: 'Quando', serif;
    margin-bottom: 40px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #edecec18;
    border-bottom: 1px solid rgba(255, 255, 255, 0.409);
    padding: 10px 0px 15px 0px;
    z-index: 1;
    backdrop-filter: blur(10px);
}

#logo > img {
    width: 55px;
    height: 55px;
    padding-bottom: 10px;
}


#img-b {
    transform: translateY(15px);
}

#menu {
    display: flex;
    gap: 40px;
    height: 100%;
    align-items: center;
    transform: translate(-150px);
}

#menu > li {
    display: inline;
    font-size: 1.3em;
}

#menu > li > a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    height: 100vh;
}

#oi {
    margin: auto;
    margin-left: 15%;
}

#oi > h1, #linkedin {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#oi > h1 > strong {
    font-size: 1.8em;
}

#oi > p {
    background-color: #8F5D52;
    text-align: center;
    border-radius: 35px;
    padding: 20px;
    margin-top: 20px;
}

#linkedin {
    text-decoration: none;
    font-size: 1.8em;
}

#linkedin:hover {
    letter-spacing: 4px;
}

#fig {
   margin: auto;
   margin-right: 23%;
}

#fig > img {
    height: 400px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

#sobre {
    background-color: #493536;
    height: 100%;
    display: flex;
    padding: 130px 20px;
}

#boneco-box {
    margin: auto;
    margin-left: 25%;
}

#boneco2 {
    height: 380px;
}

#logoimg {
    z-index: 1;
}

#logo2 {
    display: flex;
    z-index: 1;
    margin-top: -70px;
    align-items: center;
    justify-content: center;
}

#logo2 > img {
    width: 50px;
}

#logoimg2 {
    animation: float2 6s ease-in-out infinite;
    z-index: 0;
}

#logoimg3 {
    animation: float3 6s ease-in-out infinite;
    z-index: 0;
}

@keyframes float2 {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(150px);
    }
}

@keyframes float3 {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-150px);
    }
}


#sobremim {
height: 400px;
width: 580px;
margin: auto;
margin-right: 22%;
color: white;
}

#sobremim > h1 {
    font-size: 3em;
    font-family: 'Press Start 2P';
    padding-bottom: 20px;
}

#sobremim > p {
    font-size: 1.5em;
    text-indent: 2em;
    text-align: justify;
    padding: 10px;
}

#projetos {
    background-color: #352728;
    text-align: center;
    padding: 40px 0px;
}

#projetos > h1 {
    font-size: 3em;
    font-family: 'Press Start 2P';
    padding: 20px;
    color: white;
    text-align: center;
}

.listprojetos {
    margin: 10px 0px 40px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

.itensprojetos {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.itensprojetos > p {
    background-color: #705656;
    color: aliceblue;
    text-align: center;
    font-size: 1.2em;
    width: 100%;
    padding: 5% 0px;
    transform: rotate(-50deg);
}

#mais {
    display: none;
    gap: 29.5px;
}

#btnVerMais {
    background-color: #705656d3;
    color: aliceblue;
    padding: 10px 90px;
    border-radius: 20px;
}

#repositorio {
    display: block;
    color: aliceblue;
    margin-top: 40px;
    padding: 10px 90px;
    text-decoration: none;
}

#habilidades {
    background-color: #493536;
    padding: 40px 0px;
}

#habilidades > h1 {
    font-size: 3em;
    font-family: 'Press Start 2P';
    padding: 20px;
    color: white;
    text-align: center;
}

.logo-p {
    display: flex;
    height: 150px;
    padding: 0px 20px 20px 0px;
    gap: 20px;
}

#iconhtml, #iconcss, #iconjs, #icongithub, #iconlinkedin, #icongit {
    background-color: #C4C4C4;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

#hab {
    display:flex;
    justify-content: center;
    margin-top: 40px;
    gap: 60px;
}
