@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    /* border: 1px solid blue; */
}

body, html {
    background:  linear-gradient( -130grad, #8F5D52  50%, #362729 50%);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #edecec1e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.409);
    padding: 10px 0px 15px 0px;
}

#logo > img {
    width: 50px;
    height: 50px;
}


#img-b {
    transform: translateY(15px);
}

#menu {
    display: flex;
    gap: 40px;
    height: 100%;
    align-items: center;
    transform: translate(-150px);
}

#menu > li {
    display: inline;
}

#menu > li > a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

main {
    display: flex;
    height: 100vh;
}

#oi {
    margin: auto;
    margin-left: 15%;
}

#oi > h1, #linkedin {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

#oi > h1 > strong {
    font-size: 1.8em;
}

#oi > p {
    background-color: #8F5D52;
    text-align: center;
    border-radius: 35px;
    padding: 20px;
    margin-top: 20px;
}

#linkedin {
    text-decoration: none;
    font-size: 1.8em;
}

#fig {
   margin: auto;
   margin-right: 23%;
}

#fig > img {
    height: 400px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

section {
background-color: #4a393b;
}